esp32_mqtt.json
[
    {
        "id": "1",
        "type": "tab",
        "label": "Flujo de Medidor de Flujo",
        "disabled": true,
        "info": ""
    },
    {
        "id": "c49e2bd47886830e",
        "type": "tab",
        "label": "Flujo de Datos Simulados",
        "disabled": true,
        "info": ""
    },
    {
        "id": "0abce1a265bb0231",
        "type": "tab",
        "label": "Tablero_influxdb",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "Broker MQTT USR-W610",
        "broker": "192.168.1.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "970d6facf4219103",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "9aa04bdeac5bc887",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9d5b0a8d54264c39",
        "type": "ui-page",
        "name": "Page N",
        "ui": "970d6facf4219103",
        "path": "/pageN",
        "icon": "home",
        "layout": "grid",
        "theme": "9aa04bdeac5bc887",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "662f22538996a3b4",
        "type": "ui-group",
        "name": "test_esp32",
        "page": "9d5b0a8d54264c39",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0565dd10cb5199d6",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "prueba_1",
        "name": "InfluxDB Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "1c1a5edef41716e3",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "my_data",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://localhost",
        "rejectUnauthorized": true
    },
    {
        "id": "mqtt_in_1",
        "type": "mqtt in",
        "z": "1",
        "name": "Sensor de Flujo",
        "topic": "",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": false,
        "inputs": 1,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "debug_1",
                "95eb08024a935c79"
            ]
        ]
    },
    {
        "id": "debug_1",
        "type": "debug",
        "z": "1",
        "name": "Debug Sensor de Flujo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "95eb08024a935c79",
        "type": "ui-text",
        "z": "1",
        "group": "662f22538996a3b4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "test",
        "label": "test",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "06ae4e02aca1c321",
        "type": "mqtt in",
        "z": "c49e2bd47886830e",
        "name": "Sensor de Flujo",
        "topic": "sensor/simulated",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "f596369ede8e268d"
            ]
        ]
    },
    {
        "id": "f596369ede8e268d",
        "type": "debug",
        "z": "c49e2bd47886830e",
        "name": "Debug Sensor de Flujo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "d80ef249f2123560",
        "type": "inject",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "Simulate ADC Input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "payload.timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4005",
        "payloadType": "num",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "318fad8f06f77ff1"
            ]
        ]
    },
    {
        "id": "318fad8f06f77ff1",
        "type": "function",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "calc_vol",
        "func": "const valorCrudo = msg.payload;\nconst valorLitros = ((valorCrudo - 4000) / (20000 - 4000)) * (40000 - 0);\nmsg.payload = Math.round(valorLitros);  // Valor en litros\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "a836554305fba8a0",
                "a30d3c20815a95f5"
            ],
            []
        ]
    },
    {
        "id": "d49fc8b2da531ddf",
        "type": "influxdb out",
        "z": "0abce1a265bb0231",
        "d": true,
        "influxdb": "0565dd10cb5199d6",
        "name": "InfluxDB Output",
        "measurement": "volumen",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "us",
        "retentionPolicyV18Flux": "",
        "org": "aspro",
        "bucket": "prueba_1",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "a836554305fba8a0",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "0bcbb81796a6a3c1",
        "type": "inject",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "Simulate ADC Input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "5c18c9231ae10aa7"
            ]
        ]
    },
    {
        "id": "32cd0e870067f260",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "a30d3c20815a95f5",
        "type": "influxdb out",
        "z": "0abce1a265bb0231",
        "d": true,
        "influxdb": "0565dd10cb5199d6",
        "name": "InfluxDB Output",
        "measurement": "tank_volume",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "aspro",
        "bucket": "prueba_1",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac70ab4c14d788f8",
        "type": "influxdb out",
        "z": "0abce1a265bb0231",
        "d": true,
        "influxdb": "0565dd10cb5199d6",
        "name": "InfluxDB Output",
        "measurement": "volumen",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "us",
        "retentionPolicyV18Flux": "",
        "org": "aspro",
        "bucket": "prueba_1",
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "3e98176b86982460",
        "type": "inject",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "Simulate ADC Input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "350",
        "payloadType": "num",
        "x": 310,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e44d61c6ebd84889",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "234bd86221f089c9",
        "type": "change",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fields.volumen",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"volumen\": payload }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "ac70ab4c14d788f8",
                "e44d61c6ebd84889"
            ]
        ]
    },
    {
        "id": "5c18c9231ae10aa7",
        "type": "change",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "Prepare InfluxDB Payload",
        "rules": [
            {
                "t": "set",
                "p": "fields.volumen",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.location",
                "pt": "msg",
                "to": "Refinery_A",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tags.sensor_id",
                "pt": "msg",
                "to": "sensor_01",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tags.unit",
                "pt": "msg",
                "to": "liters",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"volumen\": fields.volumen, \"location\": tags.location, \"sensor_id\": tags.sensor_id, \"unit\": tags.unit, \"timestamp\": $millis() }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "d49fc8b2da531ddf",
                "32cd0e870067f260"
            ]
        ]
    },
    {
        "id": "de83c2b49ba249fd",
        "type": "inject",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "measurement",
                "v": "temperature",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"time\":1688987984,\"temperature\":24},{\"device\":\"FA-02\",\"deviceType\":\"Pi4\",\"deviceName\":\"demo-pi-rob\"}]",
        "payloadType": "json",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "aad6353f2f00333e",
                "df04661174e55d42"
            ]
        ]
    },
    {
        "id": "aad6353f2f00333e",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 540,
        "wires": []
    },
    {
        "id": "df04661174e55d42",
        "type": "influxdb out",
        "z": "0abce1a265bb0231",
        "d": true,
        "influxdb": "0565dd10cb5199d6",
        "name": "InfluxDB Output",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "us",
        "retentionPolicyV18Flux": "",
        "org": "aspro",
        "bucket": "prueba_1",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "55c29a9e5140cfb8",
        "type": "influxdb out",
        "z": "0abce1a265bb0231",
        "influxdb": "0565dd10cb5199d6",
        "name": "InfluxDB Output",
        "measurement": "volumen",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "us",
        "retentionPolicyV18Flux": "",
        "org": "aspro",
        "bucket": "prueba_1",
        "x": 720,
        "y": 740,
        "wires": []
    },
    {
        "id": "cd2f9a4a946403f2",
        "type": "inject",
        "z": "0abce1a265bb0231",
        "name": "Simulate ADC Input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "200",
        "payloadType": "num",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "b136dee9e3f63a5d"
            ]
        ]
    },
    {
        "id": "0abc143b7ab16de5",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "b136dee9e3f63a5d",
        "type": "change",
        "z": "0abce1a265bb0231",
        "name": "Prepare InfluxDB Payload",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "volumen",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"time\": $millis(), \"volumen\": payload, \"location\": \"Refinery_A\", \"sensor_id\": \"sensor_01\", \"unit\": \"liters\"}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 760,
        "wires": [
            [
                "55c29a9e5140cfb8",
                "0abc143b7ab16de5"
            ]
        ]
    },
    {
        "id": "dae7f289a0138a1f",
        "type": "mqtt in",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "Sensor de Flujo",
        "topic": "sensor/simulated",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "234bd86221f089c9"
            ]
        ]
    },
    {
        "id": "028a32b37c4bf2cc",
        "type": "influxdb out",
        "z": "0abce1a265bb0231",
        "d": true,
        "influxdb": "0565dd10cb5199d6",
        "name": "InfluxDB Output",
        "measurement": "volumen",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "us",
        "retentionPolicyV18Flux": "",
        "org": "aspro",
        "bucket": "prueba_1",
        "x": 700,
        "y": 980,
        "wires": []
    },
    {
        "id": "27f6f5d2d1d81a67",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 940,
        "wires": []
    },
    {
        "id": "d288e0d21fdbebbc",
        "type": "change",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fields.volumen",
                "pt": "msg",
                "to": "payload.volumen",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"volumen\": payload.volumen }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 980,
        "wires": [
            [
                "028a32b37c4bf2cc",
                "27f6f5d2d1d81a67"
            ]
        ]
    },
    {
        "id": "d9f4d6f91b58ab0a",
        "type": "mqtt in",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "Sensor de Flujo",
        "topic": "sensor/simulated",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 980,
        "wires": [
            [
                "d288e0d21fdbebbc",
                "55751f84d963d354"
            ]
        ]
    },
    {
        "id": "55751f84d963d354",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "d": true,
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 920,
        "wires": []
    },
    {
        "id": "0940cf3f17203537",
        "type": "influxdb out",
        "z": "0abce1a265bb0231",
        "influxdb": "0565dd10cb5199d6",
        "name": "InfluxDB Output",
        "measurement": "volumen",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "us",
        "retentionPolicyV18Flux": "",
        "org": "aspro",
        "bucket": "prueba_1",
        "x": 700,
        "y": 1140,
        "wires": []
    },
    {
        "id": "550d10a7bf2e9bc5",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1100,
        "wires": []
    },
    {
        "id": "df9a8b81e5fec457",
        "type": "change",
        "z": "0abce1a265bb0231",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"volumen\": payload}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "fields.volumen",
                "pt": "msg",
                "to": "payload.volumen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1140,
        "wires": [
            [
                "0940cf3f17203537",
                "550d10a7bf2e9bc5"
            ]
        ]
    },
    {
        "id": "e88cdd322d516e86",
        "type": "mqtt in",
        "z": "0abce1a265bb0231",
        "name": "Sensor de Flujo",
        "topic": "sensor/simulated",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 1140,
        "wires": [
            [
                "df9a8b81e5fec457",
                "9baed69b77b8d59a"
            ]
        ]
    },
    {
        "id": "9baed69b77b8d59a",
        "type": "debug",
        "z": "0abce1a265bb0231",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 1080,
        "wires": []
    }
]