esp32_mqtt.json
[
    {
        "id": "634de16a022721fd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1",
        "type": "tab",
        "label": "Flujo de Medidor de Flujo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c49e2bd47886830e",
        "type": "tab",
        "label": "Flujo de Datos Simulados",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "Broker MQTT USR-W610",
        "broker": "192.168.1.8",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "970d6facf4219103",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "9aa04bdeac5bc887",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9d5b0a8d54264c39",
        "type": "ui-page",
        "name": "Page N",
        "ui": "970d6facf4219103",
        "path": "/pageN",
        "icon": "home",
        "layout": "grid",
        "theme": "9aa04bdeac5bc887",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "662f22538996a3b4",
        "type": "ui-group",
        "name": "test_esp32",
        "page": "9d5b0a8d54264c39",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "mqtt_in_1",
        "type": "mqtt in",
        "z": "1",
        "name": "Sensor de Flujo",
        "topic": "",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": false,
        "inputs": 1,
        "x": 240,
        "y": 140,
        "wires": [
            [
                "debug_1",
                "95eb08024a935c79"
            ]
        ]
    },
    {
        "id": "debug_1",
        "type": "debug",
        "z": "1",
        "name": "Debug Sensor de Flujo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "95eb08024a935c79",
        "type": "ui-text",
        "z": "1",
        "group": "662f22538996a3b4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "test",
        "label": "test",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "06ae4e02aca1c321",
        "type": "mqtt in",
        "z": "c49e2bd47886830e",
        "name": "Sensor de Flujo",
        "topic": "sensor/simulated",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "f596369ede8e268d"
            ]
        ]
    },
    {
        "id": "f596369ede8e268d",
        "type": "debug",
        "z": "c49e2bd47886830e",
        "name": "Debug Sensor de Flujo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 580,
        "y": 100,
        "wires": []
    }
]